<div class="Iconic">
        {{#if listExists}}
 <ul>
    
    <div class="each_list">
      <li><u>{{@name}}</u></li>
      <li>Type: {{@type}}</li>
      <li>Alignment: {{@alignment}}</li>
      <li>Armour Class: {{@armor_class}}</li>
      <br>
    </div>
    
 </ul>
 {{/if}}
</div>