<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Dungeons and Dragons Monsters</title>
</head>
<body>
    <div class = "navigation">
        {{>navbar}}
    </div>
    <div class = "header">
        <h1>Dungeons and Dragons</h1>
        <h2>a world of monsters</h2>
        <hr>
    </div>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>